# ===========================
# Virtual Environment
# ===========================
.venv/
venv/

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]

# ===========================
# Chroma Vector Database
# ===========================
chroma_store/
*.sqlite3
*.db-wal
*.db-shm

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db